<!doctype html>
<html>
<head>
	
	<style>  
			h1 {
					color: rgb(161, 162, 172);
					font-family: Georgia, 'Times New Roman', Times, serif;
					font-size: 45px;
				}
			p {
					color: rgb(223, 213, 213);
					font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
					font-size: 25px;
			}
			img {
				  
				
				  width: 500px;
				  height: 500px;
			}
			
	</style>
</head>
	<body background="https://png.pngtree.com/thumb_back/fh260/back_pic/00/01/54/555604115c64ab3.jpg">
		
			<h1>				
				
				{{title}}
			</h1>

		
	<img src="{{imageurl}}">
		<p>
			{{explanation}}
		</p>	
	</body>
</html>